body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: $background_color;
}

#root {
  height: 100vh;
  @include vertical-flex-layout;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
