.currency {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid $white;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 55px;
    margin-right: 20px;
    pointer-events: none;
  }

  & * {
    color: $text-color;
  }

  &__input {
    height: 100px;
    font-size: 30px;
    background: transparent;
    padding: 0 35px 0 0;
    margin-left: 8px;
    min-width: 100px;
  }

  &__type {
    height: 40px;
    background: $select_color;
    font-size: 12px;
    padding: 0 15px;
  }

  &__rate {
    font-size: 13px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: row;
    background: $input_color;
  }

  &__input-symbol {
    color: $currency-symbol;
    font-size: 30px;
    line-height: 100px;
    padding-left: 15px;
  }
}
