.currency-converter {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > :first-child {
    margin-right: 40px;

    &::after {
      content: $convert-icon;
      color: $green;
      font-family: 'FontAwesome';
      font-size: 20px;
      position: absolute;
      right: 0;
      margin-right: -30px;
      bottom: 0;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;

    & > :first-child {
      margin: 0 0 40px;

      &::after {
        margin-right: 110px;
        margin-bottom: -45px;
      }
    }
  }
}

.disclaimer {
  margin-top: 30px;
  font-size: 12px;
  color: $text-color;
  opacity: 0.5;
}
