// MAIN COLORS
$dark_blue: #1e2e49;
$green: #1e7a28;
$light_blue: #2c4661;
$mid_blue: #283951;
$white: #fff;

// MAIN VARIABLES
$background_color: $dark_blue;
$input_color: $mid_blue;
$select_color: $light_blue;
$text-color: $white;
